{{#extend "base"}}
{{#content "bodyclass" mode="prepend"}}nye24{{/content}}
{{#content "main" mode="prepend"}}
<main class="centered">
  <div>
    <h1>
      <a href="/">
        <span class="flip">t<span class="aalt">h</span>e</span>
        <br>
        <span class="aalt">b</span>emaqui<span class="aalt">d</span>
        <br>
        <span class="flip">cl<span class="aalt">u</span>b</span></a>
    </h1>
    <h1 class="bigger">
      <span class="aalt">nye</span>
      <br>
      <span class="flip"><span class="aalt">f</span>ête 2024</span>
    </h1>
  </div>
  <div>

    <p class="small">
      dec 30<sup>th</sup> to jan 1<sup>st</sup> or 2<sup>nd</sup>
      <br>
      <a href="https://www.google.com/maps/place/11+Bradley+Shore+Rd,+New+Harbor,+ME+04558/"><span
          class="aalt">b</span>emaqui<span class="aalt">d</span>, maine</a>
      <span class="no-m">&middot;</span>
      <br class="no-d" />
      <a
        href="https://www.airbnb.com/s/Pemaquid-Point--Bristol--ME--USA/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&query=Pemaquid%20Point%2C%20Bristol%2C%20ME%2004554%2C%20USA&place_id=ChIJ01Hu2J2jrUwRKVepOx2eZBw&date_picker_type=calendar&source=structured_search_input_header&search_type=filter_change&ne_lat=43.90721833773551&ne_lng=-69.4415140414905&sw_lat=43.83519550369617&sw_lng=-69.53815939671512&zoom=13&search_by_map=true&monthly_start_date=2023-11-01&monthly_length=3&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&checkin=2023-12-30&checkout=2024-01-02">housing</a>
      &middot;
      <a
        href="https://www.google.com/travel/flights/search?tfs=CBwQAhokEgoyMDIzLTEyLTMwag0IAhIJL20vMDJfMjg2cgcIARIDUFdNGiQSCjIwMjQtMDEtMDJqBwgBEgNQV01yDQgCEgkvbS8wMl8yODZAAUgBcAGCAQsI____________AZgBAQ">flights
      </a>
    </p>

    <div class="calendar">
      <div class="day">
        <p class="small">dec 30</p>
        <p class="small">lobs<span class="zw">&VeryThinSpace;</span>ter bake &amp; welcome party</p>
      </div>
      <div class="day">
        <p class="small">dec 31</p>
        <p class="small">morning hike &amp; black tie dinner at <a href="https://riverhouseme.com/">river
            house</a></p>
      </div>
      <div class="day">
        <p class="small">jan 1</p>
        <p class="small">new year's day</p>
      </div>
      <div class="day">
        <p class="small">jan 2</p>
        <p class="small">~ bonus day ~</p>
      </div>
    </div>
    <p class="small">
      <a class="button" href="https://partiful.com/e/FjO2RngE4AvSPtN8vnb9">rsvp</a>
    </p>
  </div>

  <div class="lcdm">{{> lcdm }}</div>
</main>
<div class="claws">
  <img src="/img/frog-right.png" alt="" class="frog-right">
  <img src="/img/frog-left.png" alt="" class="frog-left">

</div>
{{/content}}
{{/extend}}
