// Font weights
$bold: 700;
$semibold: 500;
$medium: 500;
$regular: 400;
$light: 300;

@font-face {
  font-family: Narifah;
  font-style: normal;
  font-weight: 400;
  font-display: "swap";
  src: url("/font/Narifah.woff") format("woff");
}

$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Narifah", Georgia, serif;

h1,
%h1 {
  font-size: 2rem;
  font-family: $serif;
  font-weight: $regular;
  user-select: none;
}

.aalt {
  font-feature-settings: "aalt";
}

p,
.p {
  font-size: 1rem;
  font-family: $serif;
  font-weight: $regular;
}

strong {
  font-weight: $bold;
}

@media screen and (min-width: $tablet-landscape-max) {
  p,
  .p {
    font-size: 1.25rem;
  }
}
