{{#extend "base"}}
{{#content "main" mode="prepend"}}
<main class="centered">
  <h1>
    <span class="flip">t<span class="aalt">h</span>e</span>
    <br>
    <span class="aalt">b</span>emaqui<span class="aalt">d</span>
    <br>
    <span class="flip">cl<span class="aalt">u</span>b</span>
  </h1>
  <div>
    <div class="years">
      <p><a href="/nye21/"><span class="fete"><span class="aalt">f</span>ête</span>2021</a></p>
      <p class="pink">&middot;</p>
      <p><a href="/nye22/"><span class="fete"><span class="aalt">f</span>ête</span>2022</a></p>
      <p class="pink">&middot;</p>
      <p><a href="/nye23/"><span class="fete"><span class="aalt">f</span>ête</span>2023</a></p>
      <p class="pink">&middot;</p>
      <p><a href="/nye24/"><span class="fete"><span class="aalt">f</span>ête</span>2024</a></p>
      <p class="pink">&middot;</p>
      <p><a href="/nye25/"><span class="fete"><span class="aalt">f</span>ête</span>2025</a></p>
    </div>

  </div>

  <div class="lcdm lcdm-pink">{{> lcdm }}</div>
</main>
{{/content}}
{{/extend}}
