{{#extend "base"}}
{{#content "head" mode="prepend"}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Sancreek&family=Urbanist:wght@900&display=swap"
  rel="stylesheet">
{{/content}}
{{#content "bodyclass" mode="prepend"}}nye25{{/content}}
{{#content "main" mode="prepend"}}
<main class="centered">
  <div>
    <h1 class="bigger">
      <span class="aalt">
        New Years Eve
        <span class="gradient">New Years Eve</span>
      </span>
    </h1>
    <h1 class="bigger">
      <span class="flip">
        <span class="aalt">f</span>ête&nbsp;<br class="no-d" /> 2025
        <span class="gradient"><span class="aalt">f</span>ête &nbsp;<br class="no-d" />2025</span>
      </span>
    </h1>
  </div>
  <div>

    <p class="small">
      Dec 30<sup>th</sup> to Jan 2<sup>nd</sup>
      <br>
      <a href="https://maps.app.goo.gl/8LqCsRcULrhvfomE7">Austin, Texas</a>
      &middot;
      <a
        href="https://www.google.com/travel/flights/search?tfs=CBwQAhooEgoyMDI0LTEyLTI5ag0IAhIJL20vMDJfMjg2cgsIAxIHL20vMHZ6bRooEgoyMDI1LTAxLTAyagsIAxIHL20vMHZ6bXINCAISCS9tLzAyXzI4NkABSAFwAYIBCwj___________8BmAEB">Flights
      </a>&nbsp;
      <span class="no-m">&middot;</span><br class="no-d" />
      Housing and cars pre-arranged
    </p>

    <div class="calendar">
      <div class="day">
        <p class="small">Dec 29</p>
        <p class="small">BBQ &amp; welcome party</p>
      </div>
      <div class="day">
        <p class="small">Dec 30</p>
        <p class="small">Wander through Wimberly, spaghetti festivities</p>
      </div>
      <div class="day">
        <p class="small">Dec 31</p>
        <p class="small">Morning hike, black tie dinner (cowboy hats optional)</p>
      </div>
      <div class="day">
        <p class="small">Jan 1</p>
        <p class="small">New Year's Day, tea &amp; scones by the river</p>
      </div>
      <div class="day">
        <p class="small">Jan 2</p>
        <p class="small">~ Farewells ~</p>
      </div>
    </div>
    <p class="small">
      <a class="button" href="https://partiful.com/e/0wp3n1EfyAM3hHfTUelO">rsvp</a>
    </p>
  </div>
  <h1>
    <a href="/">
      <span class="flip">t<span class="aalt">h</span>e</span>
      <br>
      <span class="aalt">b</span>emaqui<span class="aalt">d</span>
      <br>
      <span class="flip">cl<span class="aalt">u</span>b</span></a>
  </h1>
</main>
<div class="images">
  <img src="/img/2025/spaghetti-western.png" alt="" class="cowboy">
</div>
{{/content}}
{{/extend}}
