{{#extend "base"}}
{{#content "main" mode="prepend"}}
<main class="centered">
  <div>
    <h1>
      <a href="/">
        <span class="flip">t<span class="aalt">h</span>e</span>
        <br>
        <span class="aalt">b</span>emaqui<span class="aalt">d</span>
        <br>
        <span class="flip">cl<span class="aalt">u</span>b</span></a>
    </h1>
    <h1 class="bigger">
      <span class="aalt">nye</span>
      <br>
      <span class="flip"><span class="aalt">f</span>ête 2022</span>
    </h1>
  </div>

  <div class="photo-grid">
    <div class="photo"><img src="/img/2022/lobsters-steaming.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/lili-conor.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/kissing.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/piano.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/dan-glasses.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/cocktail.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/dan-jacob.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/hs-boys.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/sleeping.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/decorations.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/lobsters.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/outside-bar.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/scallops.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/susan.jpg" alt="" /></div>
    <div class="photo"><img src="/img/2022/will.jpg" alt="" /></div>
  </div>

  <div class="lcdm">{{> lcdm }}</div>
</main>
{{/content}}
{{/extend}}
