{{#extend "base"}}
{{#content "main" mode="prepend"}}
<main class="centered">
  <div>
    <h1>
      <a href="/">
        <span class="flip">t<span class="aalt">h</span>e</span>
        <br>
        <span class="aalt">b</span>emaqui<span class="aalt">d</span>
        <br>
        <span class="flip">cl<span class="aalt">u</span>b</span></a>
    </h1>
    <h1 class="bigger">
      <span class="aalt">nye</span>
      <br>
      <span class="flip"><span class="aalt">f</span>ête 2022</span>
    </h1>
  </div>

  <div class="lcdm">{{> lcdm }}</div>
</main>
{{/content}}
{{/extend}}
