{{#extend "base"}}
{{#content "main" mode="prepend"}}
<main class="centered">
  <div>
    <h1>
      <a href="/">
        <span class="flip">t<span class="aalt">h</span>e</span>
        <br>
        <span class="aalt">b</span>emaqui<span class="aalt">d</span>
        <br>
        <span class="flip">cl<span class="aalt">u</span>b</span></a>
    </h1>
    <h1 class="bigger">
      <span class="aalt">nye</span>
      <br>
      <span class="flip"><span class="aalt">f</span>ête 2021</span>
    </h1>
  </div>

  <div class="photo-grid">
    <div class="photo"><img src="/img/2021/nye-2021-5.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-1.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-2.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-3.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-4.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-6.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-7.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-8.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-9.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-10.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-11.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-12.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-13.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-14.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-15.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-16.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-17.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-18.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-19.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-20.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-21.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-22.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-23.jpeg" alt=""></div>
    <div class="photo"><img src="/img/2021/nye-2021-24.jpeg" alt=""></div>
  </div>

  <div class="lcdm">{{> lcdm }}</div>
</main>
{{/content}}
{{/extend}}
